* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(246, 255, 229);
}

.prev {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgb(255, 228, 168);
    border-radius: 16px;
    padding: 25px
}

#table {
    border: solid 1px black;
    border-collapse: collapse;
}

td, th {
    border: solid 1px black;
    padding: 5px;
}

.header {
    font-family: sans-serif;
    margin-bottom: 50px;
    text-align: center;
    font-size: 18px;
}

.inputs {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
    font-size: 24px;
    font-family: sans-serif;
}

.inputs input {
    font-size: 24px;
    font-family: sans-serif;
    border: 1px solid aqua;
    border-radius: 8px;
    padding: 5px 15px;
    margin-left: 10px;
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.submit_btn {
    border: 1px solid rgb(16, 161, 161);
    border-radius: 8px;
    padding: 5px 25px;
    font-weight: bold;
}

.hide {
    display: none;
}

.prev-header {
    text-align: center;
    margin-bottom: 25px;
    font-size: 38px;
    font-family: monospace;
}

.err {
    color: red;
    margin-top: 25px;
    font-size: 34px;
    letter-spacing: 8px;
}

.conteiner_dbtn {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.download_btn {
    border: 1px solid rgb(16, 161, 161);
    border-radius: 8px;
    padding: 5px 25px;
    font-weight: bold;
    font-size: 16px;
}