<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="download.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h2>Выберите дату появления персонажа в эпизоде:</h2>
        </div>
        <div class="inputs">
                <label for="date_from">С <input name="date_from" type="date" id="date_from"></label>
                <label for="date_to">По <input name="date_to" type="date" id="date_to"></label>
        </div>
        <div class="btn">
                <button class="inputs submit_btn">Найти</button>
        </div>
    </div>

    <div class="preview">
    </div>
    
    <script src="receiveData.js"></script>
</body>
</html>